ul {
    width: 40%;
    margin: auto;
    margin-right: 20px;
    padding: 30px 40px;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ffffff;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 5px;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    color: #000000;
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #000000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 0%;
    border-radius: 5px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: #d13737;
    color: rgb(0, 0, 0);
}
.header {
    width: 70%;
    margin: auto;
    background-color: #554b4b;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
input {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.addBtn {
    padding: 10px;
    width: 18%;
    margin-left: 10px;
    background: #d9d9d9;
    color: #000000;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}
.addBtn:hover {
    background-color: #bbb;
}
ul li span{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: auto;
    font-size: 22px;
    color: black;
    line-height: auto;
    text-align: center;
    border-radius: 5px;
}
ul li span:hover{
    background-color: #d13737;
}






























